<div class="alert alert-block alert-success">
    <h1 align="center">Telecom Customer Churn Modelling</h1>
    <h4 align="center" >Alireza Esmaeilpour</h4>
    <h6 align="center"><a href="https://alireza-esp.ir/">Website</a></h6>
    <h6 align="center"><a href="https://github.com/Alireza-Esp">Github</a></h6>
    <h6 align="center"><a href="https://www.kaggle.com/alirezaesmaeilpour">Kaggle</a></h6>
</div>

# ðŸ”µ Import Libraries

In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# ðŸ”µ Load the data

In [2]:
data = pd.read_csv("https://github.com/Alireza-Esp/Telecom-Customer-Churn-Modelling/raw/refs/heads/main/data/telecom-customer-churn-v0.csv")

In [3]:
data

,Customer ID,City,Latitude,Longitude,Gender,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,...,Streaming Music,Unlimited Data,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Customer Status,Churn Category,Churn Reason
0,3668-QPYBK,Los Angeles,33.964131,-118.272783,Male,No,No,2,Yes,No,...,No,Yes,0.00,0,20.94,129.09,1,Churned,Competitor,Competitor made better offer
1,9237-HQITU,Los Angeles,34.059281,-118.307420,Female,No,Yes,2,Yes,No,...,No,Yes,0.00,0,18.24,169.89,2,Churned,Other,Moved
2,9305-CDSKC,Los Angeles,34.048013,-118.293953,Female,No,Yes,8,Yes,Yes,...,Yes,Yes,0.00,0,97.20,917.70,3,Churned,Other,Moved
3,7892-POOKP,Los Angeles,34.062125,-118.315709,Female,Yes,Yes,28,Yes,Yes,...,Yes,Yes,0.00,0,136.92,3182.97,3,Churned,Other,Moved
4,0280-XJGEX,Los Angeles,34.039224,-118.266293,Male,No,Yes,49,Yes,Yes,...,Yes,Yes,0.00,0,2172.17,7208.47,1,Churned,Competitor,Competitor had better devices
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,Landers,34.341737,-116.539416,Female,No,No,72,Yes,No,...,No,No,19.31,0,1639.44,3039.53,5,Stayed,NaN,NaN
7039,6840-RESVB,Adelanto,34.667815,-117.536183,Male,Yes,Yes,24,Yes,Yes,...,Yes,Yes,48.23,0,865.20,2807.47,3,Stayed,NaN,NaN
7040,2234-XADUH,Amboy,34.559882,-115.637164,Female,Yes,Yes,72,Yes,Yes,...,Yes,Yes,45.38,0,2135.52,9453.04,4,Stayed,NaN,NaN
7041,4801-JZAZL,Angelus Oaks,34.167800,-116.864330,Female,Yes,Yes,11,No,No phone service,...,No,Yes,27.24,0,0.00,319.21,4,Stayed,NaN,NaN
7042,3186-AJIEK,Apple Valley,34.424926,-117.184503,Male,No,No,66,Yes,No,...,Yes,Yes,0.00,0,2043.36,8887.86,4,Stayed,NaN,NaN

# ðŸ”µ EDA

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 39 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   City                               7043 non-null   object
 2   Latitude                           7043 non-null   float64
 3   Longitude                          7043 non-null   float64
 4   Gender                             7043 non-null   object
 5   Partner                            7043 non-null   object
 6   Dependents                         7043 non-null   object
 7   Tenure Months                      7043 non-null   int64
 8   Phone Service                      7043 non-null   object
 9   Multiple Lines                     7043 non-null   object
 10  Internet Service                   7043 non-null   object
 11  Online Security                    7043 non-null   object
 12  Online Backup                      7043 non-null   object
 13  Device Protection                  7043 non-null   object
 14  Tech Support                       7043 non-null   object
 15  Streaming TV                       7043 non-null   object
 16  Streaming Movies                   7043 non-null   object
 17  Contract                           7043 non-null   object
 18  Payment Method                     7043 non-null   object
 19  Monthly Charges                    7043 non-null   float64
 20  Total Charges                      7043 non-null   object
 21  Churn Label                        7043 non-null   object
 22  CLTV                               7043 non-null   int64
 23  Referred a Friend                  7043 non-null   object
 24  Number of Referrals                7043 non-null   int64
 25  Offer                              3166 non-null   object
 26  Avg Monthly Long Distance Charges  7043 non-null   float64
 27  Avg Monthly GB Download            7043 non-null   int64
 28  Premium Tech Support               7043 non-null   object
 29  Streaming Music                    7043 non-null   object
 30  Unlimited Data                     7043 non-null   object
 31  Total Refunds                      7043 non-null   float64
 32  Total Extra Data Charges           7043 non-null   int64
 33  Total Long Distance Charges        7043 non-null   float64
 34  Total Revenue                      7043 non-null   float64
 35  Satisfaction Score                 7043 non-null   int64
 36  Customer Status                    7043 non-null   object
 37  Churn Category                     1869 non-null   object
 38  Churn Reason                       1869 non-null   object
dtypes: float64(7), int64(6), object(26)
memory usage: 2.1+ MB

ðŸŸ£ "Offer", "Churn Category" and "Churn Reason" have null records...

ðŸŸ£ "Total Charges" column is object. should to be converted to float64...

In [5]:
data.drop(index=data[data["Total Charges"]==" "].index, inplace=True)
data["Total Charges"] = data["Total Charges"].astype("float64")
data.reset_index(inplace=True)
data.drop(columns=["index"], inplace=True)

In [6]:
data.describe()

,Latitude,Longitude,Tenure Months,Monthly Charges,Total Charges,CLTV,Number of Referrals,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score
count,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000
mean,36.283307,-119.799215,32.421786,64.798208,2283.300441,4401.445108,1.949232,22.963471,20.531712,1.965252,6.871445,749.957096,3038.163730,3.243885
std,2.456118,2.157588,24.545260,30.085974,2266.771362,1182.414266,3.001324,15.449368,20.419561,7.908412,25.123141,847.025001,2865.830234,1.202019
min,32.555828,-124.301372,1.000000,18.250000,18.800000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.360000,1.000000
25%,34.030915,-121.815412,9.000000,35.587500,401.450000,3469.750000,0.000000,9.210000,3.000000,0.000000,0.000000,70.567500,607.275000,3.000000
50%,36.391777,-119.735410,29.000000,70.350000,1397.475000,4527.500000,0.000000,22.890000,17.000000,0.000000,0.000000,403.875000,2111.300000,3.000000
75%,38.227285,-118.043237,55.000000,89.862500,3794.737500,5381.000000,3.000000,36.412500,27.000000,0.000000,0.000000,1192.432500,4808.797500,4.000000
max,41.962127,-114.192901,72.000000,118.750000,8684.800000,6500.000000,11.000000,49.990000,85.000000,49.790000,150.000000,3564.720000,11979.340000,5.000000

ðŸŸ£ some columns have "0.0" value for min index; this is uncertain...

In [7]:
for i in list(data.columns):
    if data[i].dtype == np.dtype('object'):
        print(data[i].value_counts())
        print("---------------------------------------")

Customer ID
3186-AJIEK    1
3668-QPYBK    1
9237-HQITU    1
9305-CDSKC    1
7892-POOKP    1
             ..
5380-WJKOV    1
6047-YHPVI    1
8773-HHUOZ    1
8665-UTDHZ    1
6467-CHFZW    1
Name: count, Length: 7032, dtype: int64
---------------------------------------
City
Los Angeles      304
San Diego        150
San Jose         112
Sacramento       108
San Francisco    104
                ...
Manton             4
Ben Lomond         3
Cupertino          3
Independence       3
Redcrest           3
Name: count, Length: 1129, dtype: int64
---------------------------------------
Gender
Male      3549
Female    3483
Name: count, dtype: int64
---------------------------------------
Partner
No     3639
Yes    3393
Name: count, dtype: int64
---------------------------------------
Dependents
No     5412
Yes    1620
Name: count, dtype: int64
---------------------------------------
Phone Service
Yes    6352
No      680
Name: count, dtype: int64
---------------------------------------
Multiple Lines
No                  3385
Yes                 2967
No phone service     680
Name: count, dtype: int64
---------------------------------------
Internet Service
Fiber optic    3096
DSL            2416
No             1520
Name: count, dtype: int64
---------------------------------------
Online Security
No                     3497
Yes                    2015
No internet service    1520
Name: count, dtype: int64
---------------------------------------
Online Backup
No                     3087
Yes                    2425
No internet service    1520
Name: count, dtype: int64
---------------------------------------
Device Protection
No                     3094
Yes                    2418
No internet service    1520
Name: count, dtype: int64
---------------------------------------
Tech Support
No                     3472
Yes                    2040
No internet service    1520
Name: count, dtype: int64
---------------------------------------
Streaming TV
No                     2809
Yes                    2703
No internet service    1520
Name: count, dtype: int64
---------------------------------------
Streaming Movies
No                     2781
Yes                    2731
No internet service    1520
Name: count, dtype: int64
---------------------------------------
Contract
Month-to-month    3875
Two year          1685
One year          1472
Name: count, dtype: int64
---------------------------------------
Payment Method
Electronic check             2365
Mailed check                 1604
Bank transfer (automatic)    1542
Credit card (automatic)      1521
Name: count, dtype: int64
---------------------------------------
Churn Label
No     5163
Yes    1869
Name: count, dtype: int64
---------------------------------------
Referred a Friend
No     3819
Yes    3213
Name: count, dtype: int64
---------------------------------------
Offer
Offer B    824
Offer E    802
Offer D    602
Offer A    520
Offer C    415
Name: count, dtype: int64
---------------------------------------
Premium Tech Support
No     4992
Yes    2040
Name: count, dtype: int64
---------------------------------------
Streaming Music
No     4545
Yes    2487
Name: count, dtype: int64
---------------------------------------
Unlimited Data
Yes    4740
No     2292
Name: count, dtype: int64
---------------------------------------
Customer Status
Stayed     4709
Churned    1869
Joined      454
Name: count, dtype: int64
---------------------------------------
Churn Category
Competitor         841
Attitude           314
Dissatisfaction    303
Price              211
Other              200
Name: count, dtype: int64
---------------------------------------
Churn Reason
Competitor had better devices                313
Competitor made better offer                 311
Attitude of support person                   220
Don't know                                   130
Competitor offered more data                 117
Competitor offered higher download speeds    100
Attitude of service provider                  94
Price too high                                78
Product dissatisfaction                       77
Network reliability                           72
Long distance charges                         64
Service dissatisfaction                       63
Moved                                         46
Extra data charges                            39
Limited range of services                     37
Poor expertise of online support              31
Lack of affordable download/upload speed      30
Lack of self-service on Website               29
Poor expertise of phone support               12
Deceased                                       6
Name: count, dtype: int64
---------------------------------------

# ðŸ”µ Save the final raw data

In [8]:
with open(file="../data/telecom-customer-churn-v1.csv", mode="w", encoding="utf-8") as file_path:
    data.to_csv(path_or_buf=file_path, index=False, lineterminator="\n")